Source: ros-rolling-leo-viz
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-lint-cmake <!nocheck>, ros-rolling-ament-cmake-xmllint <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ros-workspace
Homepage: http://wiki.ros.org/leo_viz
Standards-Version: 3.9.2

Package: ros-rolling-leo-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-joint-state-publisher, ros-rolling-joint-state-publisher-gui, ros-rolling-leo-description, ros-rolling-rviz2, ros-rolling-ros-workspace
Description: Visualization launch files and RViz configurations for Leo Rover
