Source: ros-humble-leo-viz
Section: misc
Priority: optional
Maintainer: Fictionlab <support@fictionlab.pl>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: http://wiki.ros.org/leo_viz
Standards-Version: 3.9.2

Package: ros-humble-leo-viz
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-joint-state-publisher, ros-humble-joint-state-publisher-gui, ros-humble-leo-description, ros-humble-rviz2, ros-humble-ros-workspace
Description: Visualization launch files and RViz configurations for Leo Rover
